* {
    font-family:'Century Gothic', CenturyGothic, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/cinema_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.topo-jogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: black; 
    border-bottom: 4px solid #000; 
}

.timer, .topo-jogo .btn-voltar-score {
    width: 180px; 
}


.timer {
    color: #ff8c00;                         
    font-size: 2rem;                    
    font-weight: bold;
    text-align: center;
    background-color: #111111;             
    border: 2px solid #ff8c00;        
    border-radius: 12px;
    padding: 6px 16px;
    text-shadow: 0 0 10px rgba(255, 140, 0, 0.6);
    letter-spacing: 2px;
    align-items: center;
}


.topo-jogo .btn-voltar-score {
    text-align: center;
}

.card-jogo{
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.75); 
    border: 2px solid #ff8c00;              
    box-shadow: 0 0 30px rgba(255, 140, 0, 0.2); 
    padding: 32px;
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.card-jogo button {
    background-color: transparent;        
    color: #ff8c00;                 
    border: 2px solid #ff8c00;
    border-radius: 24px;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
    letter-spacing: 1px;
}

.card-jogo button:hover {
    background-color: #a18562;      
    color: #ff8c00;                 
    border-color: #ff8c00;
}

#buttonDicas {
    background-color: transparent;
    color: #ff8c00;
    border: 2px solid #ff8c00;
}

#buttonDicas:hover {    
    background-color: #a18562;       
    color: #ff8c00;                 
    border-color: #ff8c00;
}

.titulo {
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0; 
}

.titulo h1 {
    color: orange;
    font-size: 2rem;
    margin: 0;
    font-size: 2rem;
}

.titulo h2 {
    color: #fffbfb;
    font-size: 1rem;
}

.card-jogo input[type="text"] {
    background-color: #1a1a1a;        
    color: #ff8c00;                  
    border: 2px solid #ff8c00;        
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 1.2rem;
    width: 100%;
    outline: none;
    transition: 0.2s;
    letter-spacing: 1px;
}

.card-jogo input[type="text"]:focus {
    border-color: #ffffff;            
    color: #ffffff;                  
}

.btn-voltar-score{
    color: #000000;
    background-color: #ff8c00;
    border: 2px solid #ff8c00;
    border-radius: 24px;
    padding: 10px 32px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    letter-spacing: 1px;
}

.btn-voltar-score:hover {
    background-color: #000000;
    color: #ff8c00;
}